.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
* {
  --green-400: hsl(172, 67%, 45%);
  --green-900: hsl(183, 100%, 15%);
  --grey-500: hsl(186, 14%, 43%);
  --grey-400: hsl(184, 14%, 56%);
  --grey-200: hsl(185, 41%, 84%);
  --grey-50: hsl(189, 47%, 97%);
  --white: hsl(0, 100%, 100%);
  font-weight: 700;
}
:root {
  font-family: "Space Mono", sans-serif;
}
p {
  color: var(--grey-500);
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--grey-200);
}
.splitter-logo {
  margin: 2.5rem 0;
}
.container {
  background-color: var(--white);
  width: 100%;
  height: 50rem;
  padding: 1rem;
  border-radius: 3rem 3rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.calculator-contents-container {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem 0 1rem;
}
.bill-container,
.number-of-people-container {
  width: 100%;
}
.bill-container p {
  font-family: "Space Mono", sans-serif;
}
.bill-text {
  margin-bottom: 0.7rem;
}
.bill,
.number-of-people {
  text-align: right;
  font-size: 1.5rem;
  color: var(--green-900);
  width: 95%;
  padding: 0.5rem;
  background-color: var(--grey-50);
  border-style: none;
  background-image: url("./images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  outline: none;
  font-family: "Space Mono", sans-serif;
  transition: border-color 0.3s ease-in-out;
}
input:focus {
  border-style: solid;
  border-color: var(--green-400);
}
input::placeholder {
  color: var(--green-900);
}
.select-tip-container {
  width: 100%;
  text-align: start;
  padding-right: 0;
  margin-top: 0.7rem;
}
.grid-card {
  display: flex;
  background-color: var(--green-900);
  border-radius: 0.4rem;
  height: 3.1rem;
  align-items: center;
  justify-content: center;
}
.grid-card p {
  margin: 0;
  font-size: 1.5rem;
  color: var(--white);
}
.tips-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.custom {
  text-align: right;
  font-size: 1.5rem;
  color: var(--green-900);
  width: 90%;
  padding-right: 1rem;
  height: 3.1rem;
  background-color: var(--grey-50);
  border-style: none;
  outline: none;
  font-family: "Space Mono", sans-serif;
  border-radius: 0.4rem;
  transition: border-color 0.3s ease-in-out;
}
.custom:focus {
  border-style: solid;
  border-color: var(--green-400);
}
.custom::placeholder {
  color: var(--grey-500);
}
.number-of-people {
  background-image: url("./images/icon-person.svg");
}
.number-of-people-container {
  margin-top: 0.7rem;
}

.calculator-results-container {
  margin-top: 2rem;
  background-color: var(--green-900);
  width: 80%;
  height: 13rem;
  border-radius: 1rem;
  padding: 1rem;
}
